  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    float: left;
    background: black;
    padding: 2px;
    margin: 2px;
    display: flex;
    align-items: center;
  }
